django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-mssql-backend
pyodbc
python-dotenv
Pillow
gunicorn
whitenoise
dj-database-url
psycopg2-binary
cloudinary
django-cloudinary-storage
# cache-bust-2026-03-18